body {
    text-align: center;
    background: linear-gradient(blue, red, green) no-repeat;
	width:150px;
     height:100px;
	
}

.line {
    width: 300px;
    height: 10px;
    background-color: black;
    margin: 5px auto;
}

iframe {
    margin: 50px;
}

div {
  height: 200px;
  width: 50%;
}